@model List<Eylul_Webproje.Models.Enrollment>

<h2 class="text-light mb-4">Kayıt Olduğum Kurslar</h2>

<div class="row">
    @foreach (var item in Model)
    {
        var course = item.Course;

        <div class="col-md-4 mb-4">
            <div class="card course-card shadow-lg">

                

                <div class="card-body">
                    <h4 class="card-title">@course.Title</h4>

                    <p class="course-description">@course.Description</p>
                    <p class="course-category">@course.Category</p>

                    <p class="text-info" style="font-size:14px;">
                        <strong>Eğitmen:</strong> @course.Instructor?.User?.Email
                    </p>

                    <div class="course-buttons">
                        <a asp-action="CourseDetail" asp-route-id="@course.Id"
                           class="btn btn-outline-info btn-sm">Detay</a>

                        <a asp-action="Ders"
                           asp-route-id="@course.Id"
                           class="btn btn-primary btn-sm">
                            🚀 Derse Git
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
